@import "font";
@import "utility";
@import "varibales";

//global
body {
  direction: rtl;
  font-size: rem(13px);
  font-family: $mainFont;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  background-size: rem(167px) rem(351px);
  height: 100%;

  a {
    text-decoration: none !important;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
}
input,
select,
textarea {
  font-family: $mainFont;
}
ul {
  list-style: none;
}
// for blur background
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  width: 100vw;
  height: 100%;
  background: $black;
  opacity: 0.7;
}

.overlay__show {
  display: block;
}

.fixed_body {
  height: 100vh;
  overflow: hidden;
}
//global
header {
  position: relative;
  padding: rem(16px) 0 rem(30px) 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(992) {
      justify-content: flex-end;
    }
    .right {
      .logo {
        svg {
          width: rem(53px);
          height: rem(30px);
          // fill: $yellow300;
        }
        @include mq(992) {
          position: absolute;
          z-index: 30;
          right: rem(50px);
          margin-top: rem(15px);
          svg {
            fill: $black !important;
          }
        }
      }
      display: flex;
      align-items: center;
      .show__menu {
        right: 0;
      }
      nav {
        @include mq(992) {
          padding-top: rem(100px) !important;
          position: fixed;
          right: rem(-260px);
          top: 0;
          width: rem(260px);
          margin-left: 0;
          background: $white;
          height: 100vh;
          padding: 20px 0;
          transition: all 0.5s;
          z-index: 10;
          li {
            padding: rem(10px) 0;
            font-size: rem(16px) !important;
            a {
              // color: $gray500;
              font-weight: 300;
            }
            .reservation {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              padding: rem(6px) rem(24px);
              background: linear-gradient(#000 0%, #1d1d1d 100%);
              border: 1px solid $black;
              color: $white;
              font-weight: 300;
              font-size: rem(16px);
              text-align: center;
              color: $white;
              @include mq(580) {
                display: block;
              }
            }
          }
        }
        ul {
          margin: 0 rem(-8px);
          display: flex;
          align-items: center;
          margin-bottom: 0 !important;
          @include mq(992) {
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin: 0 rem(10px);
            a {
              color: $black;
              font-size: rem(18px);
            }
          }
          .active {
            a {
              font-weight: bold;
              @include mq(992) {
                font-weight: bold;
                font-size: 16px;
                color: $black !important;
              }
            }
          }
        }
      }
    }
    .left {
      display: flex;
      align-items: center;

      .icons {
        .profile {
          display: inline-block;
          margin: 0 rem(13px) 0 rem(26px);
        }
        @include mq(992) {
          margin-right: auto;
        }
      }
      .reservation {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(6px) rem(24px);
        background: linear-gradient(#000 0%, #1d1d1d 100%);
        border: 1px solid $black;
        color: $white;
        font-weight: 300;
        font-size: rem(16px);
        text-align: center;
        color: $white;
        @include mq(580) {
          display: none;
        }
      }
      .modal__box {
        .modal-body {
          height: rem(300px);
          @include mq(425) {
            height: calc(100vh - 46px);
          }
          .search__input {
            display: flex;
            align-items: center;
            @include mq(425) {
              justify-content: center;
            }
            input {
              border: none;
              border-bottom: rem(1px) solid $black;
              padding: rem(30px) 0;
              background-image: url("../img/search__icon__in__modal.svg");
              background-repeat: no-repeat;
              background-position: left 0 bottom rem(20px);
              font-weight: 300;
              font-size: rem(18px);
              line-height: rem(56px);
              @include mq(425) {
                width: 80%;
                padding: 0;
                background-position: left 0 bottom rem(5px);
              }
            }
            ::placeholder {
              font-weight: 300;
              font-size: rem(18px);
              line-height: rem(56px);
              text-align: right;
              color: $black;
              @include mq(425) {
                font-size: rem(15px);
                line-height: rem(30px);
                // padding-bottom: rem(30px);
              }
            }
          }
        }
      }
      .mobile__menu {
        display: none;
        @include mq(992) {
          display: block;
          margin-right: 15px;
        }
      }
    }
  }
}
.main__slider {
  .content {
    .swiper-slide {
      .slider__item {
        width: 100%;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background: $black;
          opacity: 0.65;
          img {
            width: 100%;
          }
        }
        img {
          width: 100%;
          height: 600px;
          z-index: 0;
        }
        .title {
          position: absolute;
          top: 50%;
          right: rem(76px);
          max-width: rem(334px);
          z-index: 10;
          transform: translateY(-50%);
          color: $white;
          h5 {
            font-size: rem(16px);
          }
          h4 {
            margin-top: rem(12px);
            margin-bottom: rem(16px);
            a {
              font-weight: 900;
              font-size: rem(32px);
              line-height: rem(47px);
              color: $white;
            }
          }
          p {
            font-size: rem(14px);
            line-height: rem(28px);
          }
        }
        .play__button {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: rem(89px);
          transform: translateY(-50%);
          z-index: 10;
        }
      }
    }
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 10px;
        height: 5px;
        border-radius: 0;
        background: $white !important;
      }
      .swiper-pagination-bullet-active {
        width: 23px;
        background: $white;
      }
    }
  }
}

.aboutus__customers {
  margin: rem(107px) 0 rem(197px) 0;
  .content {
    display: flex;
    .about__us {
      margin-left: rem(65px);
      width: calc(50% - 65px);
      h5 {
        font-weight: 300;
        font-size: rem(18px);
      }
      p {
        font-weight: bold;
        font-size: rem(22px);
        line-height: rem(30px);
        width: rem(289px);
        overflow: hidden;
        margin: rem(10px) 0 rem(13px) 0;
      }
      img {
        width: 100%;
      }
    }
    .our__customers {
      margin-top: rem(88px);
      h5 {
        font-size: rem(18px);
      }
      p {
        width: rem(395px);
        height: rem(137px);
        font-size: rem(16px);
        color: $gray100;
        overflow: hidden;
        line-height: rem(27px);
        margin: rem(8px) 0 rem(26px) 0;
      }
      span {
        display: block;
        margin-top: rem(14px);
        font-size: 14px;
        color: $gray200;
      }
    }
  }
}

.swiper__infinte__loop {
background: #eaeaea;


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    .slide__item {
      width: 50%;
      height: 195px;
      display: flex;
      align-items: center;
    }
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

footer {
  background-color: $white;
  color: $black;
  .content {
    padding: rem(63px) 0 rem(153px) 0;
    display: flex;
    @include mq(1200) {
      flex-wrap: wrap;
    }

    .about_us {
      width: 33%;
      @include mq(1200) {
        width: 50%;
        margin-bottom: rem(32px);
      }
      @include mq(768) {
        width: 100%;
      }
      .logo {
        display: inline-block;
        svg {
          fill: $black;
          width: rem(127px);
          height: rem(72px);
        }
      }

      p {
        font-size: rem(14px);
        margin-top: rem(24px);
        max-width: rem(285px);
        line-height: rem(32px);
        max-height: rem(110px);
        overflow: hidden;
      }
    }
    .quick_access {
      width: 10%;
      @include mq(1200) {
        width: calc(50% - 50px);
        margin-right: rem(50px);
        margin-bottom: rem(32px);
      }
      @include mq(550) {
        margin-right: 0;
        width: 100%;
      }
      h6 {
        margin-bottom: rem(25px);
        font-weight: bold;
        line-height: rem(23px);
        font-size: rem(16px);
      }
      ul {
        li {
          a {
            color: $white !important;
            line-height: rem(23px);
            overflow: hidden;
            width: 100%;
          }
        }
      }
    }
    .contact {
      width: calc(23% - 40px);
      margin-right: rem(40px);
      @include mq(1200) {
        width: calc(50%);
        margin-right: 0;
      }
      @include mq(550) {
        width: 100%;
      }
      h6 {
        margin-bottom: rem(25px);
        font-weight: bold;
        // color: $yellow100;
      }
      ul {
        li {
          line-height: rem(32px);
          a {
            color: $white;
          }
        }
      }
    }
    .share {
      width: calc(34% - 50px);
      margin-right: rem(50px);
      @include mq(1200) {
        width: calc(50% - 50px);
      }
      @include mq(768) {
        width: 60%;
        margin-right: 0;
      }
      @include mq(550) {
        width: 100%;
      }
      h6 {
        margin-bottom: rem(30px);
        font-weight: bold;
        line-height: rem(23px);
        // color: $yellow100;
      }
      p {
        line-height: rem(23px);

        font-size: rem(16px);
      }
      .input_box {
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
        display: flex;
        justify-content: space-between;
        border-radius: rem(27px);
        padding: rem(4px) rem(20px) rem(4px) rem(4px);
        input {
          outline: none;
          width: 100%;
        }
        .save {
          // background: $yellow100;
          color: $black;
          padding: rem(10px) rem(32px) rem(10px) rem(32px);
          border-radius: rem(23px);
          font-size: rem(16px);
        }
      }
    }
  }
}
