@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("../fonts/eot/dana-thin.eot");
  src: url("../fonts/eot/dana-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-thin.woff2") format("woff2"), url("../fonts/woff/dana-thin.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/dana-extralight.eot");
  src: url("../fonts/eot/dana-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-extralight.woff2") format("woff2"), url("../fonts/woff/dana-extralight.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/dana-light.eot");
  src: url("../fonts/eot/dana-light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-light.woff2") format("woff2"), url("../fonts/woff/dana-light.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/dana-medium.eot");
  src: url("../fonts/eot/dana-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-medium.woff2") format("woff2"), url("../fonts/woff/dana-medium.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eot/dana-demibold.eot");
  src: url("../fonts/eot/dana-demibold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-demibold.woff2") format("woff2"), url("../fonts/woff/dana-demibold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url("../fonts/eot/dana-ultrabold.eot");
  src: url("../fonts/eot/dana-ultrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-ultrabold.woff2") format("woff2"), url("../fonts/woff/dana-ultrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/dana-extrabold.eot");
  src: url("../fonts/eot/dana-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-extrabold.woff2") format("woff2"), url("../fonts/woff/dana-extrabold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/dana-black.eot");
  src: url("../fonts/eot/dana-black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-black.woff2") format("woff2"), url("../fonts/woff/dana-black.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/dana-bold.eot");
  src: url("../fonts/eot/dana-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-bold.woff2") format("woff2"), url("../fonts/woff/dana-bold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/dana-regular.eot");
  src: url("../fonts/eot/dana-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/dana-regular.woff2") format("woff2"), url("../fonts/woff/dana-regular.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

body {
  direction: rtl;
  font-size: 0.8125rem;
  font-family: dana !important;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  background-size: 10.4375rem 21.9375rem;
  height: 100%;
}

body a {
  text-decoration: none !important;
}

body button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

input,
select,
textarea {
  font-family: dana !important;
}

ul {
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  width: 100vw;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.overlay__show {
  display: block;
}

.fixed_body {
  height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  padding: 1rem 0 1.875rem 0;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  header .content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .right .logo svg {
  width: 3.3125rem;
  height: 1.875rem;
}

@media only screen and (max-width: 992px) {
  header .content .right .logo {
    position: absolute;
    z-index: 30;
    right: 3.125rem;
    margin-top: 0.9375rem;
  }
  header .content .right .logo svg {
    fill: #000 !important;
  }
}

header .content .right .show__menu {
  right: 0;
}

@media only screen and (max-width: 992px) {
  header .content .right nav {
    padding-top: 6.25rem !important;
    position: fixed;
    right: -16.25rem;
    top: 0;
    width: 16.25rem;
    margin-left: 0;
    background: #ffffff;
    height: 100vh;
    padding: 20px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10;
  }
  header .content .right nav li {
    padding: 0.625rem 0;
    font-size: 1rem !important;
  }
  header .content .right nav li a {
    font-weight: 300;
  }
  header .content .right nav li .reservation {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.375rem 1.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1d1d1d));
    background: linear-gradient(#000 0%, #1d1d1d 100%);
    border: 1px solid #000;
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
  }
}

@media only screen and (max-width: 992px) and (max-width: 580px) {
  header .content .right nav li .reservation {
    display: block;
  }
}

header .content .right nav ul {
  margin: 0 -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 992px) {
  header .content .right nav ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header .content .right nav ul li {
  margin: 0 0.625rem;
}

header .content .right nav ul li a {
  color: #000;
  font-size: 1.125rem;
}

header .content .right nav ul .active a {
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  header .content .right nav ul .active a {
    font-weight: bold;
    font-size: 16px;
    color: #000 !important;
  }
}

header .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .left .icons .profile {
  display: inline-block;
  margin: 0 0.8125rem 0 1.625rem;
}

@media only screen and (max-width: 992px) {
  header .content .left .icons {
    margin-right: auto;
  }
}

header .content .left .reservation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.375rem 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#1d1d1d));
  background: linear-gradient(#000 0%, #1d1d1d 100%);
  border: 1px solid #000;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 580px) {
  header .content .left .reservation {
    display: none;
  }
}

header .content .left .modal__box .modal-body {
  height: 18.75rem;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body {
    height: calc(100vh - 46px);
  }
}

header .content .left .modal__box .modal-body .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .content .left .modal__box .modal-body .search__input input {
  border: none;
  border-bottom: 0.0625rem solid #000;
  padding: 1.875rem 0;
  background-image: url("../img/search__icon__in__modal.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 1.25rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input input {
    width: 80%;
    padding: 0;
    background-position: left 0 bottom 0.3125rem;
  }
}

header .content .left .modal__box .modal-body .search__input ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input :-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input ::-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input ::placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input ::-webkit-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input :-ms-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input ::-ms-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input ::placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
}

header .content .left .mobile__menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  header .content .left .mobile__menu {
    display: block;
    margin-right: 15px;
  }
}

.main__slider .content .swiper-slide .slider__item {
  width: 100%;
  position: relative;
}

.main__slider .content .swiper-slide .slider__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #000;
  opacity: 0.65;
}

.main__slider .content .swiper-slide .slider__item::after img {
  width: 100%;
}

.main__slider .content .swiper-slide .slider__item img {
  width: 100%;
  height: 600px;
  z-index: 0;
}

.main__slider .content .swiper-slide .slider__item .title {
  position: absolute;
  top: 50%;
  right: 4.75rem;
  max-width: 20.875rem;
  z-index: 10;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
}

.main__slider .content .swiper-slide .slider__item .title h5 {
  font-size: 1rem;
}

.main__slider .content .swiper-slide .slider__item .title h4 {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.main__slider .content .swiper-slide .slider__item .title h4 a {
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.9375rem;
  color: #ffffff;
}

.main__slider .content .swiper-slide .slider__item .title p {
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.main__slider .content .swiper-slide .slider__item .play__button {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5.5625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.main__slider .content .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 5px;
  border-radius: 0;
  background: #ffffff !important;
}

.main__slider .content .swiper-pagination-bullets .swiper-pagination-bullet-active {
  width: 23px;
  background: #ffffff;
}

.aboutus__customers {
  margin: 6.6875rem 0 12.3125rem 0;
}

.aboutus__customers .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutus__customers .content .about__us {
  margin-left: 4.0625rem;
  width: calc(50% - 65px);
}

.aboutus__customers .content .about__us h5 {
  font-weight: 300;
  font-size: 1.125rem;
}

.aboutus__customers .content .about__us p {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.875rem;
  width: 18.0625rem;
  overflow: hidden;
  margin: 0.625rem 0 0.8125rem 0;
}

.aboutus__customers .content .about__us img {
  width: 100%;
}

.aboutus__customers .content .our__customers {
  margin-top: 5.5rem;
}

.aboutus__customers .content .our__customers h5 {
  font-size: 1.125rem;
}

.aboutus__customers .content .our__customers p {
  width: 24.6875rem;
  height: 8.5625rem;
  font-size: 1rem;
  color: #707070;
  overflow: hidden;
  line-height: 1.6875rem;
  margin: 0.5rem 0 1.625rem 0;
}

.aboutus__customers .content .our__customers span {
  display: block;
  margin-top: 0.875rem;
  font-size: 14px;
  color: #8c8b8b;
}

.swiper__infinte__loop {
  padding: 2.3125rem 8.6875rem;
  background: #eaeaea;
}

.swiper__infinte__loop .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper__infinte__loop .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper__infinte__loop .swiper-slide .slide__item {
  width: 50%;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #ffffff;
  color: #000;
}

footer .content {
  padding: 3.9375rem 0 9.5625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  footer .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .content .about_us {
  width: 33%;
}

@media only screen and (max-width: 1200px) {
  footer .content .about_us {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  footer .content .about_us {
    width: 100%;
  }
}

footer .content .about_us .logo {
  display: inline-block;
}

footer .content .about_us .logo svg {
  fill: #000;
  width: 7.9375rem;
  height: 4.5rem;
}

footer .content .about_us p {
  font-size: 0.875rem;
  margin-top: 1.5rem;
  max-width: 17.8125rem;
  line-height: 2rem;
  max-height: 6.875rem;
  overflow: hidden;
}

footer .content .quick_access {
  width: 10%;
}

@media only screen and (max-width: 1200px) {
  footer .content .quick_access {
    width: calc(50% - 50px);
    margin-right: 3.125rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .quick_access {
    margin-right: 0;
    width: 100%;
  }
}

footer .content .quick_access h6 {
  margin-bottom: 1.5625rem;
  font-weight: bold;
  line-height: 1.4375rem;
  font-size: 1rem;
}

footer .content .quick_access ul li a {
  color: #ffffff !important;
  line-height: 1.4375rem;
  overflow: hidden;
  width: 100%;
}

footer .content .contact {
  width: calc(23% - 40px);
  margin-right: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .contact {
    width: calc(50%);
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .contact {
    width: 100%;
  }
}

footer .content .contact h6 {
  margin-bottom: 1.5625rem;
  font-weight: bold;
}

footer .content .contact ul li {
  line-height: 2rem;
}

footer .content .contact ul li a {
  color: #ffffff;
}

footer .content .share {
  width: calc(34% - 50px);
  margin-right: 3.125rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .share {
    width: calc(50% - 50px);
  }
}

@media only screen and (max-width: 768px) {
  footer .content .share {
    width: 60%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .share {
    width: 100%;
  }
}

footer .content .share h6 {
  margin-bottom: 1.875rem;
  font-weight: bold;
  line-height: 1.4375rem;
}

footer .content .share p {
  line-height: 1.4375rem;
  font-size: 1rem;
}

footer .content .share .input_box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.6875rem;
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
}

footer .content .share .input_box input {
  outline: none;
  width: 100%;
}

footer .content .share .input_box .save {
  color: #000;
  padding: 0.625rem 2rem 0.625rem 2rem;
  border-radius: 1.4375rem;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */